.burgerMenu {
  height: 40px;
  position: absolute;
  right: 10px;
  z-index: 999999999999;
  visibility: hidden;
}

.burgerBar {
  width: 25px;
  height: 5px;
  background-color: #000;
  border-radius: 0.5em;
  margin-bottom: 5px;
}

.menu {
  width: 50%;
  height: 100vh;
  background-color: rgb(198, 14, 223);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 50px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

@media (min-width: 1200px) {
  .menu {
    visibility: hidden;
  }
}

@media (max-width: 800px) {
  .burgerMenu {
    visibility: visible;
  }

  .links {
    visibility: hidden;
  }
}
