.skills {
  display: flex;
  flex-direction: column;
}

.skills::after {
  content: "";
  border: 1px solid rgb(198, 14, 223);
  position: absolute;
  width: 70px;
  top: 294px;
  left: 460px;
}

.skills h2 {
  margin-bottom: 20px;
}
ul {
  display: flex;
  gap: 90px;
  margin-left: 20px;
}

ul li {
  color: rgb(198, 14, 223);
}

ul li span {
  color: #fff;
}

@media (max-width: 800px) {
  .skills {
    align-items: center;
    justify-content: center;
  }
  .skills::after {
    display: none;
  }
}
