* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1000px;
  margin: 2rem auto;
  font-size: 16px;
  background-image: linear-gradient(
    to right top,
    #2c1b48,
    #2a1b45,
    #291c43,
    #271c40,
    #261c3d
  );
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
